<%= flash[:notice] %>
<div class="container">
  <div class="row my-5">
    <h1 class="offset-5"><strong>投稿詳細</strong></h1>
  </div>
  <div class="row">
    <div class="swiper mb-5">
      <div class="swiper-wrapper">
        <% @closet.images.each do |image| %>
          <div class="swiper-slide">
            <%= image_tag image.variant(resize_to_limit: [600, 600]).processed %>
          </div>
        <% end %>
      </div>
      <!--ページネーションの要素-->
      <div class="swiper-pagination"></div>
      <!--ナビゲーションボタン （前、次）-->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="closest_show offset-1 col-lg-6">
      <div id="favorite_btn_<%= @closet.id %>">
        <%= render 'public/favorites/favorite', obj: @closet %>
      </div>
      <table class="table mb-5">
        <tbody>
          <tr>
            <td>投稿者</td>
            <td><%= link_to @closet.user.name,  user_path(@closet.user.id) %></td>
          </tr>
          <tr>
            <td>購入日</td>
            <td><%= @closet.purchase_date %></td>
          </tr>
          <tr>
            <td>購入店舗</td>
            <td><%= @closet.purchase_store %></td>
          </tr>
          <tr>
            <td>値段</td>
            <td><%= @closet.purchase_price %> 円</td>
          </tr>
          <tr>
            <td>季節</td>
            <td><%= @closet.season_i18n %></td>
          </tr>
          <tr></tr>
          <tr>
            <td>タグ</td>
            <td>
              <% @closet_tags.each do |closet_tag| %>
                <%= closet_tag.tag_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>メモ</td>
            <td><%= @closet.memo %></td>
          </tr>
          <tr>
            <td>公開・非公開</td>
            <td>
              <% if @closet.is_published_flag == true %>
                <p>公開</p>
              <% else %>
                <p>非公開</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <% if @closet.user == current_user %>
              <td><%= link_to "編集する", edit_closet_path(@closet.id), class:"btn btn-success" %></td>
              <td><%= link_to "削除する", closet_path(@closet.id), method: :delete, class:"btn btn-danger", "data-confirm"=>"本当に削除しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id="closet_comment_<%= @closet.id %>">
        <%= render 'public/closet_comments/comments', closet: @closet, comment: @comment %>
      </div>
    </div>
  </div>
</div>