<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @closet.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image.variant(resize_to_limit: [300, 400]).processed %>
            </div>
          <% end %>
        </div>
        <!--ページネーションの要素-->
        <div class="swiper-pagination"></div>
        <!--ナビゲーションボタン （前、次）-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="col-5">
      <h1>closet_show</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>投稿者</td>
            <td><%= link_to @closet.user.name,  user_path(@closet.user.id) %></td>
          </tr>
          <tr>
            <td>購入日</td>
            <td><%= @closet.purchase_date %></td>
          </tr>
          <tr>
            <td>購入店舗</td>
            <td><%= @closet.purchase_store %></td>
          </tr>
          <tr>
            <td>値段</td>
            <td><%= @closet.purchase_price %> 円</td>
          </tr>
          <tr>
            <td>季節</td>
            <td><%= @closet.season_i18n %></td>
          </tr>
          <tr></tr>
          <tr>
            <td>メモ</td>
            <td><%= @closet.memo %></td>
          </tr>
          <tr>
            <td>タグ</td>
            <td>
              <% @closet_tags.each do |closet_tag| %>
                <%= closet_tag.tag.tag_name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>