 <div class="wrap">
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#tab1" class="nav-link active">春</a>
      </li>
      <li class="nav-item">
        <a href="#tab2" class="nav-link ">夏</a>
      </li>
      <li class="nav-item">
        <a href="#tab3" class="nav-link ">秋</a></a>
      </li>
      <li class="nav-item">
        <a href="#tab4" class="nav-link ">冬</a>
      </li>
      <li class="nav-item">
        <a href="#tab5" class="nav-link ">その他</a>
      </li>
    </ul>
    <div id="tab-contents">
      <div id="tab1" class="tab">
        <% spring_all.each do |spring| %>
          <%= link_to admin_closet_path(spring.id) do %>
            <%= image_tag spring.images[0].variant(resize_to_limit: [300, 400]).processed %>
          <% end %>
          <% spring.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.id) %>
          <% end %>
          <i class="far fa-heart"></i><%= spring.favorites.count %> &thinsp; いいね
          <%= spring.closet_comments.count %>コメント
        <% end %>
      </div>
      <div id="tab2" class="tab">
        <% summer_all.each do |summer| %>
          <%= link_to admin_closet_path(summer.id) do %>
            <%= image_tag summer.images[0].variant(resize_to_limit: [300, 400]).processed %>
          <% end %>
          <% summer.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.id) %>
          <% end %>
          <i class="far fa-heart"></i><%= summer.favorites.count %> &thinsp; いいね
          <%= summer.closet_comments.count %>コメント
        <% end %>
      </div>
      <div id="tab3" class="tab">
        <% autumn_all.each do |autumn| %>
          <%= link_to admin_closet_path(autumn.id) do %>
            <%= image_tag autumn.images[0].variant(resize_to_limit: [300, 400]).processed %>
          <% end %>
          <% autumn.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.id) %>
          <% end %>
          <i class="far fa-heart"></i><%= autumn.favorites.count %> &thinsp; いいね
          <%= autumn.closet_comments.count %>コメント
        <% end %>
      </div>
      <div id="tab4" class="tab">
        <% winter_all.each do |winter| %>
          <%= link_to admin_closet_path(winter.id) do %>
            <%= image_tag winter.images[0].variant(resize_to_limit: [300, 400]).processed %>
          <% end %>
          <% winter.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.id) %>
          <% end %>
          <i class="far fa-heart"></i><%= winter.favorites.count %> &thinsp; いいね
          <%= winter.closet_comments.count %>コメント
        <% end %>
      </div>
      <div id="tab5" class="tab">
        <% other_all.each do |other| %>
          <%= link_to admin_closet_path(other.id) do %>
            <%= image_tag other.images[0].variant(resize_to_limit: [300, 400]).processed %>
          <% end %>
          <% other.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_search_path(tag.id) %>
          <% end %>
          <i class="far fa-heart"></i><%= other.favorites.count %> &thinsp; いいね
          <%= other.closet_comments.count %>コメント
        <% end %>
      </div>
    </div>

    </div>
    <%= javascript_pack_tag 'tabbar' %>