<% if @model=='user' %>
  <h1>【会員の検索結果】検索ワード：<%= @content %></h1>
  <%= render 'public/searchs/user_search' %>
  <% if @records.exists? %>
    <%= render 'public/users/user_index', users: @records %>
  <% else %>
    <p>データはありません</p>
  <% end %>
<% elsif @model=='closet' %>
  <h1>【Closetの検索結果】検索ワード：<%= @content %></h1>
  <%= render 'public/searchs/closet_search' %>
  <% if @records.exists? %>
    <%= render 'public/users/closet_index',
      spring_all: @spring_all,
      summer_all: @summer_all,
      autumn_all: @autumn_all,
      winter_all: @winter_all,
      other_all: @other_all %>
  <% else %>
    <p>データはありません</p>
  <% end %>
<% end %>