<div class="container">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h1 class="offset-1"><strong>会員情報編集ページ</strong></h1>
    </div>
  </div>
    <!--<div class="col-5"></div>-->
    <div>
      <%= render 'public/closets/error', obj: @user %>
      <%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td>名前</td>
              <td><%= f.text_field :name, spaceholer: "２～２０文字" %></td>
            </tr>
            <tr>
              <td>自己紹介</td>
              <td><%= f.text_area :introduction, size:"50x4", spaceholer:"１００文字まで" %></td>
            </tr>
            <tr>
              <td>プロフィール画像</td>
              <td colspan="2"><%= f.file_field :profile_image, accept:"image/*" %><td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "会員情報更新" %><td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
