<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <%= link_to image_tag('logo.png', width: 150, height: 90, class:"navbar-brand, ml-5"), root_path %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
      <strong class="pt-3 offset-1">ようこそ!</br><%= current_user.name %> &nbsp; さん</strong>
    <% elsif admin_signed_in? %>
      <strong class="pt-3 offset-1">管理者でアクセス中</strong>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "みんなの投稿", closets_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", users_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <% if current_user.email == 'guest@example.com' %>
              <%= link_to "ログアウト", quit_user_path(current_user.id), method: :patch, class:"nav-link text-dark" %>
            <% else %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "みんなの投稿", admin_closets_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_users_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "管理者専用ログイン", new_admin_session_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class:"nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"nav-link text-dark" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>